<!DOCTYPE html>
<html>

<head>
    {% with title="Filo - Light"%} {% include 'webapp/_base_head.html' %} {% endwith %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</head>

<body ontouchstart="">
    <div class="background-popup"></div>

    <div class="whitebackground">
        <img class="back onclick_home" src="/static/images/back-icon.svg " />
        <img class="lamp" src="/static/images/menu-led.svg" />
        <div class="text-wrap">
            <p class=question> Light up your bike</p>
        </div>

        <div class="buttonsLed">
            <div class="onButton" onclick="let_it_shine('{{device_uuid}}')">
                <p class="p-main-button">Toggle</p>
            </div>
        </div>
    </div>
    <script src="/static/js/filoApi.js"></script>
    {% include 'webapp/_base_footer.html' %}
</body>

</html>