<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta charset="utf-8" />
    <title>Filo - Update</title>
    <link rel="stylesheet" type="text/css" href="../css/theme.css" />
    <script src="../js/app.js"></script>
  </head>

  <body ontouchstart="">
    <div class="background"></div>
    <div id="desktop-wrap">
      <div class="login-details">
        <h2 class="h2-main" id="welcome-message">Hi,</h2>
        <input
          type="text"
          placeholder="Firstname"
          id="firstname"
          oninput="showName()"
        />
        <input type="text" placeholder="Lastname" />
        <input type="number" placeholder="Phone number" />
        <div class="button white onclick_home">
          <p class="p-main">Done</p>
        </div>
        <!--<p class="p-onjuist">Mogelijke error</p> kijk opmerking bij auth.html-->
      </div>
    </div>
  </body>
</html>
