<html>
{% with title=code %}
{% include '_base_head_old.html' %}
{% endwith %}


<body>
    <div class="center">
        <h1 style="color: orange;">Oepsie woepsie!</h1>
        <h2><i>{{message}}</i>, het is dus stukkie wukkie!</h2>
        <h3 style="color: gray;">Stukkie woekie geeft de volgende foutje: <i>{{e}}</i></h3>
        <h3 style="color: orange;">We sijn heul hard aan t werk om dit te make mss kan je beter weggaan OwO</h1>
            <img src="/static/images/OwO.png" class="center" />
    </div>

</body>

</html>